* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.fpage{
  width: 100%;
  background-color: rgb(138, 138, 138);
}
.s1, .s2, .s3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s1 {
  height: 60px;
}
.s2 {
  height: 60px;
}
.s3 {
  height: 60px;
}
.lisR {
  display: flex;
  width: 300px;
  justify-content: space-around;
}
#cir {
  width: 50px;
  height: 50px;
  border-radius: 120px;
  border: 2px solid black;
}

.DetailsP {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.pG {
  display: flex;
  width: 60%;
  padding: 20px;
  flex-direction: column;
}
.pD {
  display: flex;
  width: 40%;
  padding: 20px;
  flex-direction: column;

}

.infos {
  width: 100%;
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  padding: 50px;
}

.graph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  border: 2px solid black;
}
.titreDetails {
  font-size: 26px;
  margin-bottom: 20px;

}